*{ padding:0; margin:0; font-family:"冬青黑体简体";}
img{ border:none;}
li{ list-style:none;}
a{ text-decoration:none;}
.bigbox{ max-width:720px; background-color:#f3f3f3; margin:0 auto;}
.titlebox{ width:100%; background-color:#ffffff; border-bottom: solid 1px #d8d7d7;}
.titlebox .top{ width:100%; overflow:hidden;}
.titlebox .bottom{ width:88%; overflow:hidden; margin:0 auto 12px auto;}
.titlebox .top .leftbox{ float:left; margin-left:4%; overflow:hidden; width:54%;}
.titlebox .top .rightbox{ float:right; margin-right:4%; overflow:hidden; width:38%;}
.leftbox img{ display:block; float:left; width:24%; height:auto; margin-top:8%; border: solid 1px #cbcbcb;}
.leftbox .text{ margin-top:8%; float:left; margin-left:5%; color:#999999; font-size:16px;}
.leftbox .l1{ color:#3e3e3e; font-size:18px; margin-bottom:4%;}
.rightbox img{ display:block; width:24%; height:auto; float:right; margin:8% 0 0 6%;}
.rightbox .d0{ float:right; margin-top:4px; color:#e34a51; border-right: solid 1px #d8d7d7; width:65%; margin-bottom:3px; font-size:14px; text-align:right; padding-right:4%;}
.rightbox .d01{  margin-top:13%;}
.rightbox .d02{  margin-top:12%; margin-bottom:16%;}
.rightbox .d03{ margin-top:26%; margin-bottom:26%;}
.bottom .d1{ float:left; width:45%; height:44px; border-radius:10px; background-color:#e44d54; color:#ffffff; text-align:center; font-size:20px; line-height:44px;}
.bottom .d2{ float:right; width:45%; height:44px; border-radius:10px; background-color:#d7d7d7; color:#ffffff; text-align:center; font-size:20px; line-height:44px;}
.bottom .d3{ float:right; width:100%; height:44px; border-radius:10px; background-color:#06c8ca; color:#ffffff; text-align:center; font-size:20px; line-height:44px;}/*title*/
.list{ width:100%; border-top:solid 1px #d8d7d7; background-color:#ffffff; margin:8px 0;}
.list div{ border-bottom:1px solid #d8d7d7; font-size:18px; color:#838383; overflow:hidden;}
.list p{ margin:4% 0;}
.list .p1{ float:left; margin-left:4%;}
.list .p2{ float:right; margin-right:5%}
.list .p3{ float:right; margin-right:4%;}
.first .p1{ font-size:20px; color:#3e3e3e;}
.first .p2{ color:#e34a51; margin-right:4%;}
.first .p3{ color:#3e3e3e; margin-right:2%;}/*list*/
.information{ width:100%; border-top: solid 1px #d8d7d7;background-color:#ffffff; margin:8px 0;}
.information div{ border-bottom:1px solid #d8d7d7; font-size:18px; color:#3e3e3e; overflow:hidden;}
.information p{ float:left; margin:4% 0;}
.information .p1{ margin-left:4%;}
.information .p2{ color:#838383;}
.songcan .p2{ width:70%;}/*information*/
.bottombox{ width:100%;}
.bottombox div{ font-size:18px; color:#838383; padding:4%;background-color:#ffffff;}
.bottombox .first{ border-bottom:1px solid #d8d7d7; border-top:1px solid #d8d7d7; font-size:20px; color:#3e3e3e;}/*bottombox*/